@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap");
.home {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* filter: blur(5px); */
}
.logo {
  width: 12rem;
  height: auto;
}
.title {
  font-size: 6rem !important;
  color: #7942e6 !important;
  font-family: "Source Sans Pro", sans-serif !important;
  text-shadow: 2px 2px #FF0000 !important;
}

.play_btn {
  margin-top: 1rem !important;
  background-color: rgb(25, 144, 255) !important;
  color: white !important;
  height: 4rem !important;
  width: 4rem !important;
  transition: 0.5s ease-in !important;
}
.play_btn:hover{
  background-color: white !important;
  color: rgb(25, 144, 255) !important;
  border:  3px solid #7942e6 !important;
}
.play_text{
  font-size: 2rem !important;
  color: #7942e6 !important;
  font-family: "Source Sans Pro", sans-serif !important;
  text-shadow: 2px 2px #FF0000 !important;
}